### Group 5 final project

### Level 1 data cleaning

Drop these columns 
- DIV HC AC HR AR HY AY

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [3]:
tables = []
for i in os.listdir('./english-premier-league_zip/archive/'):
     f = os.path.join('./english-premier-league_zip/archive/', i)
     print(f)
     df = pd.read_csv(f)
     tables.append(df)
df1 = pd.concat(tables)
df1

./english-premier-league_zip/archive/season-1112.csv
./english-premier-league_zip/archive/season-1516.csv
./english-premier-league_zip/archive/season-1617.csv
./english-premier-league_zip/archive/season-1415.csv
./english-premier-league_zip/archive/season-1213.csv
./english-premier-league_zip/archive/season-1011.csv

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSH,PSD,PSA,PSCH,PSCD,PSCA
0,E0,13/08/11,Blackburn,Wolves,1.0,2.0,A,1.0,1.0,D,...,2.20,2.14,1.78,1.74,NaN,NaN,NaN,NaN,NaN,NaN
1,E0,13/08/11,Fulham,Aston Villa,0.0,0.0,D,0.0,0.0,D,...,1.83,1.80,2.14,2.08,NaN,NaN,NaN,NaN,NaN,NaN
2,E0,13/08/11,Liverpool,Sunderland,1.0,1.0,D,1.0,0.0,H,...,1.92,1.88,2.02,1.98,NaN,NaN,NaN,NaN,NaN,NaN
3,E0,13/08/11,Newcastle,Arsenal,0.0,0.0,D,0.0,0.0,D,...,1.84,1.79,2.16,2.10,NaN,NaN,NaN,NaN,NaN,NaN
4,E0,13/08/11,QPR,Bolton,0.0,4.0,A,0.0,1.0,A,...,2.00,1.95,1.98,1.92,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,22/05/11,Newcastle,West Brom,3.0,3.0,D,2.0,0.0,H,...,2.13,2.09,1.84,1.81,NaN,NaN,NaN,NaN,NaN,NaN
376,E0,22/05/11,Stoke,Wigan,0.0,1.0,A,0.0,0.0,D,...,2.10,2.00,1.93,1.85,NaN,NaN,NaN,NaN,NaN,NaN
377,E0,22/05/11,Tottenham,Birmingham,2.0,1.0,H,0.0,0.0,D,...,1.93,1.89,2.03,1.99,NaN,NaN,NaN,NaN,NaN,NaN
378,E0,22/05/11,West Ham,Sunderland,0.0,3.0,A,0.0,1.0,A,...,2.05,1.98,1.94,1.91,NaN,NaN,NaN,NaN,NaN,NaN
379,E0,22/05/11,Wolves,Blackburn,2.0,3.0,A,0.0,3.0,A,...,1.88,1.85,2.07,2.03,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
drop_columns = 'Div|HC|AC|HR|AR|HY|AY|Referee'
df1 = df1.iloc[:, 0:23]
df1 = df1.loc[:,~df1.columns.str.contains(drop_columns)]

df1.head()

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HS,AS,HST,AST,HF,AF
0,13/08/11,Blackburn,Wolves,1.0,2.0,A,1.0,1.0,D,16.0,13.0,8.0,4.0,14.0,10.0
1,13/08/11,Fulham,Aston Villa,0.0,0.0,D,0.0,0.0,D,13.0,7.0,9.0,1.0,10.0,18.0
2,13/08/11,Liverpool,Sunderland,1.0,1.0,D,1.0,0.0,H,11.0,15.0,4.0,6.0,17.0,12.0
3,13/08/11,Newcastle,Arsenal,0.0,0.0,D,0.0,0.0,D,6.0,9.0,1.0,4.0,9.0,11.0
4,13/08/11,QPR,Bolton,0.0,4.0,A,0.0,1.0,A,13.0,13.0,7.0,7.0,9.0,16.0

In [5]:
df1 = df1.rename(columns={'Date':'Game_Date','HomeTeam':'Home_Team', 'AwayTeam':'Away_Team', 'FTHG':'Full_Time_Home_Team_Goals', 'FTAG':'Full_Time_Away_Team_Goals',
                          'FTR':'Full_Time_Result', 'HTHG':'Half_Time_Home_Team_Goals', 'HTAG':'Half_Time_Away_Team_Goals', 'HTR':'Half_Time_Result',
                          'HS':'Home_Team_Shots','AS':'Away_Team_Shots', 'HST':'Home_Team_Shots_on_Target', 'AST': 'Away_Team_Shots_on_Target',
                          'HF':'Home_Fouls', 'AF':'Away_Fouls'})

df1.head()

,Game_Date,Home_Team,Away_Team,Full_Time_Home_Team_Goals,Full_Time_Away_Team_Goals,Full_Time_Result,Half_Time_Home_Team_Goals,Half_Time_Away_Team_Goals,Half_Time_Result,Home_Team_Shots,Away_Team_Shots,Home_Team_Shots_on_Target,Away_Team_Shots_on_Target,Home_Fouls,Away_Fouls
0,13/08/11,Blackburn,Wolves,1.0,2.0,A,1.0,1.0,D,16.0,13.0,8.0,4.0,14.0,10.0
1,13/08/11,Fulham,Aston Villa,0.0,0.0,D,0.0,0.0,D,13.0,7.0,9.0,1.0,10.0,18.0
2,13/08/11,Liverpool,Sunderland,1.0,1.0,D,1.0,0.0,H,11.0,15.0,4.0,6.0,17.0,12.0
3,13/08/11,Newcastle,Arsenal,0.0,0.0,D,0.0,0.0,D,6.0,9.0,1.0,4.0,9.0,11.0
4,13/08/11,QPR,Bolton,0.0,4.0,A,0.0,1.0,A,13.0,13.0,7.0,7.0,9.0,16.0

In [6]:
df1['Game_Date'] = pd.to_datetime(df1['Game_Date'])
df1.head()

,Game_Date,Home_Team,Away_Team,Full_Time_Home_Team_Goals,Full_Time_Away_Team_Goals,Full_Time_Result,Half_Time_Home_Team_Goals,Half_Time_Away_Team_Goals,Half_Time_Result,Home_Team_Shots,Away_Team_Shots,Home_Team_Shots_on_Target,Away_Team_Shots_on_Target,Home_Fouls,Away_Fouls
0,2011-08-13,Blackburn,Wolves,1.0,2.0,A,1.0,1.0,D,16.0,13.0,8.0,4.0,14.0,10.0
1,2011-08-13,Fulham,Aston Villa,0.0,0.0,D,0.0,0.0,D,13.0,7.0,9.0,1.0,10.0,18.0
2,2011-08-13,Liverpool,Sunderland,1.0,1.0,D,1.0,0.0,H,11.0,15.0,4.0,6.0,17.0,12.0
3,2011-08-13,Newcastle,Arsenal,0.0,0.0,D,0.0,0.0,D,6.0,9.0,1.0,4.0,9.0,11.0
4,2011-08-13,QPR,Bolton,0.0,4.0,A,0.0,1.0,A,13.0,13.0,7.0,7.0,9.0,16.0

### Create Man United tables

In [7]:
BM = (df1.Home_Team == 'Man United') 
BM2 =  (df1.Away_Team == 'Man United')
man_u_home_df = df1[BM]
man_u_away_df = df1[BM2]

In [8]:
man_u_home_df.head()

,Game_Date,Home_Team,Away_Team,Full_Time_Home_Team_Goals,Full_Time_Away_Team_Goals,Full_Time_Result,Half_Time_Home_Team_Goals,Half_Time_Away_Team_Goals,Half_Time_Result,Home_Team_Shots,Away_Team_Shots,Home_Team_Shots_on_Target,Away_Team_Shots_on_Target,Home_Fouls,Away_Fouls
18,2011-08-22,Man United,Tottenham,3.0,0.0,H,0.0,0.0,D,27.0,20.0,21.0,12.0,12.0,9.0
25,2011-08-28,Man United,Arsenal,8.0,2.0,H,3.0,1.0,H,25.0,19.0,15.0,13.0,9.0,7.0
46,2011-09-18,Man United,Chelsea,3.0,1.0,H,3.0,0.0,H,12.0,20.0,7.0,9.0,11.0,12.0
62,2011-01-10,Man United,Norwich,2.0,0.0,H,0.0,0.0,D,17.0,13.0,9.0,6.0,9.0,6.0
87,2011-10-23,Man United,Man City,1.0,6.0,A,0.0,1.0,A,12.0,19.0,8.0,12.0,15.0,11.0

In [9]:
man_u_away_df.head()

,Game_Date,Home_Team,Away_Team,Full_Time_Home_Team_Goals,Full_Time_Away_Team_Goals,Full_Time_Result,Half_Time_Home_Team_Goals,Half_Time_Away_Team_Goals,Half_Time_Result,Home_Team_Shots,Away_Team_Shots,Home_Team_Shots_on_Target,Away_Team_Shots_on_Target,Home_Fouls,Away_Fouls
7,2011-08-14,West Brom,Man United,1.0,2.0,A,1.0,1.0,D,14.0,11.0,8.0,5.0,16.0,9.0
30,2011-10-09,Bolton,Man United,0.0,5.0,A,0.0,3.0,A,20.0,13.0,13.0,9.0,14.0,1.0
54,2011-09-24,Stoke,Man United,1.0,1.0,D,0.0,1.0,A,14.0,13.0,8.0,9.0,10.0,3.0
70,2011-10-15,Liverpool,Man United,1.0,1.0,D,0.0,0.0,D,14.0,10.0,8.0,3.0,8.0,11.0
90,2011-10-29,Everton,Man United,0.0,1.0,A,0.0,1.0,A,18.0,7.0,11.0,6.0,12.0,8.0

### Gathering Stats under Sir Alex Ferguson

In [12]:
#dataframe for 2010 - 2013 seasons
# early season are 2010 - 2013
#late seasons are 2014-2017
manu_home_early = man_u_home_df.loc[(man_u_home_df['Game_Date'].dt.year >= 2010) & (man_u_home_df['Game_Date'].dt.year <= 2013)]
manu_away_early = man_u_away_df.loc[(man_u_away_df['Game_Date'].dt.year >= 2010) & (man_u_away_df['Game_Date'].dt.year <= 2013)]
manu_home_early.head()

,Game_Date,Home_Team,Away_Team,Full_Time_Home_Team_Goals,Full_Time_Away_Team_Goals,Full_Time_Result,Half_Time_Home_Team_Goals,Half_Time_Away_Team_Goals,Half_Time_Result,Home_Team_Shots,Away_Team_Shots,Home_Team_Shots_on_Target,Away_Team_Shots_on_Target,Home_Fouls,Away_Fouls
18,2011-08-22,Man United,Tottenham,3.0,0.0,H,0.0,0.0,D,27.0,20.0,21.0,12.0,12.0,9.0
25,2011-08-28,Man United,Arsenal,8.0,2.0,H,3.0,1.0,H,25.0,19.0,15.0,13.0,9.0,7.0
46,2011-09-18,Man United,Chelsea,3.0,1.0,H,3.0,0.0,H,12.0,20.0,7.0,9.0,11.0,12.0
62,2011-01-10,Man United,Norwich,2.0,0.0,H,0.0,0.0,D,17.0,13.0,9.0,6.0,9.0,6.0
87,2011-10-23,Man United,Man City,1.0,6.0,A,0.0,1.0,A,12.0,19.0,8.0,12.0,15.0,11.0

In [14]:
# home wins data
home_full_result_early = manu_home_early.groupby('Full_Time_Result')['Home_Team'].count()
home_wins_early  = home_full_result_early['H']
home_loss_early = home_full_result_early['A']
home_draw_early = home_full_result_early['D']
print(f"Man u won {home_wins_early} games, lost {home_loss_early} games, and drew {home_draw_early} games at home between 2010-2013")

Man u won 49 games, lost 5 games, and drew 3 games at home between 2010-2013

In [23]:
#total goals 
home_goals_early = manu_home_early.Full_Time_Home_Team_Goals.sum()
away_goals_early = manu_away_early.Full_Time_Home_Team_Goals.sum()
total_early_goals = away_goals_early + home_goals_early
total_early_goals

209.0

In [29]:
away_full_result_early = manu_away_early.groupby('Full_Time_Result')['Away_Team'].count()
away_wins_early  = away_full_result_early['H']
away_loss_early = away_full_result_early['A']
away_draw_early = away_full_result_early['D']
print(f"Man u won {away_wins_early} games, lost {away_loss_early} games, and drew {away_draw_early} games away between 2010-2013")

Man u won 9 games, lost 30 games, and drew 18 games away between 2010-2013

In [28]:
# total early wins loses draws
wins_early = away_wins_early + home_wins_early
loss_early = home_loss_early + away_loss_early
draw_early = home_draw_early + away_draw_early

In [32]:
# total shots on target early
away_shots_target = manu_away_early.Away_Team_Shots_on_Target.sum()
home_shots_target = manu_home_early.Home_Team_Shots_on_Target.sum()
total_shots_target_early = away_shots_target + home_shots_target
total_shots_target_early

978.0

In [33]:
# total fouls early 
home_fouls_early = manu_home_early.Home_Fouls.sum()
away_fouls_early = manu_away_early.Away_Fouls.sum()
total_fouls_early = away_fouls_early + home_fouls_early
total_fouls_early

1124.0

Ekow needs 
- Shots scored
- shots
- Shots on target
- Fouls committed

#### Gathering stats after Sir Alex Ferguson